<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dom.food.shop.mapper.ShopMapper">

    <insert id="createShop" parameterType="hashmap" useGeneratedKeys="true" keyColumn="shop_id" keyProperty="shopId">
        INSERT into `tbl_shop` (
                name,
                address,
                phone,
                email,
                user_id
        )
        VALUES (
                #{name},
                #{address},
                #{phone},
                #{email},
                #{userId}
        )
    </insert>

    <select id="getAllShop" resultType="map">
        SELECT 
                shop_id as shopId,
                address,
                phone,
                user_id as userId,
                name,
                update_at as updateAt,
                create_at as createAt
        from `tbl_shop`
    </select>

    <select id="getShop" parameterType="int" resultType="map">
        SELECT 
                shop_id as shopId,
                address,
                phone,
                user_id as userId,
                name,
                update_at as updateAt,
                create_at as createAt
        from `tbl_shop`
                where shop_id = #{id}
    </select>

    <update id="updateShop" parameterType="hashmap">
        UPDATE `tbl_shop`
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="address != null">address = #{address},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
        </set>
        WHERE shop_id = #{shopId} and user_id = #{userId}
    </update>


    <delete id="deleteShop" parameterType="int">
        DELETE from `tbl_shop` where shop_id = #{id}
    </delete>

</mapper>