<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dom.food.user.mapper.UserMapper">

    <insert id="createUser" parameterType="hashmap" useGeneratedKeys="true" keyColumn="user_id" keyProperty="userId">
        INSERT into `tbl_user` (
                fullname,
                phone,
                password,
                email,
                address,
                role
        )
        VALUES (
                #{fullname},
                #{phone},
                #{password},
                #{email},
                #{address},
                #{role}
        )
    </insert>

    <!-- <resultMap id = "insertResult"  type="User">
        <result property = "userId" column = "user_id"/>
        <result property = "fullname" column = "fullname"/>
        <result property = "phone" column = "phone"/>
        <result property = "role" column = "role"/>
     </resultMap> -->

    <select id="existsByPhone" parameterType="hashmap" resultType="boolean">
        select COUNT(*) as total from `tbl_user` where `phone` = "${phone}"
        <if test="userId != null">
            AND user_id != #{userId}
        </if>
    </select>

    <select id="findByEmail" parameterType="String" resultType="com.dom.food.user.models.UserModel">
        select
            email,
            password,
            role
        from `tbl_user` where `email` = "${email}"
    </select>

    <select id="existsByEmail" parameterType="String" resultType="boolean">
        select COUNT(*) as total from `tbl_user` where `email` = "${email}"
    </select>

    <select id="getUser" parameterType="int" resultType="com.dom.food.user.models.UserModel">
        SELECT 
                user_id as userId,
                fullname,
                phone,
                role,
                address,
                email,
                create_at as createAt,
                update_at as updateAt
        from `tbl_user`
        <if test="id">
                where user_id = #{id}
        </if>
    </select>

    <update id="updateUser" parameterType="hashmap">
        UPDATE `tbl_user`
         <set>
             <if test="fullname != null">fullname = #{fullname},</if>
             <if test="phone != null">phone = #{phone}</if>
             <!-- <if test="password != null">fullname = #{password}</if> -->
         </set>
                WHERE user_id = #{userId}
    </update>

    <update id="updateRole" parameterType="hashmap" useGeneratedKeys="true" keyColumn="user_id" keyProperty="userId">
        UPDATE `tbl_user`
         <set>
             <if test="role != null">role = #{role}</if>
         </set>
                WHERE user_id = #{userId}
    </update>

    <delete id="deleteUser" parameterType="int">
        DELETE from `tbl_user` where user_id = #{id}
    </delete>

     

    
</mapper>
